
.main {
  padding: 2rem 1.5rem 2rem 1.5rem;
  background-color: #45464d;
  &.main-header {
    .main-header-title {
      font-size: 40px;
    }
  }
  &.main-body {
    min-height: 100vh;
    height: auto;
  }
  &.main-navbar {
    padding: 0;
    .git-icon {
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
    }
  }
}

.article-create-page {
  max-height: 100vh;

  .editor {
    margin-bottom: 10px;
    min-height: 30vh;
    resize: none;
    max-height: 70vh;
  }
  .preview {
    margin-bottom: 10px;
    min-height: 30vh;
    max-height: 70vh;
    overflow: auto;
  }

  .create-btn {
    margin-bottom: 10px;
  }
}

.article-list-page {
  .post {
    border-color: #6e6f7a;
    border-style: solid;
    border-width: 0.1rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
}
