
.main {
  padding: 2rem 1.5rem 0rem 1.5rem;
  background-color: #45464d;
  &.main-header {
    .main-header-title {
      font-size: 40px;
    }
  }
  &.main-body {
    height: 100vh;
  }
  &.main-navbar {
    padding: 0;
    .git-icon {
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
    }
  }
}

.article-create-page {
  max-height: 100vh;

  .editor {
    margin-bottom: 10px;
    min-height: 30vh;
    resize: none;
    max-height: 70vh;
  }
  .preview {
    margin-bottom: 10px;
    min-height: 30vh;
    max-height: 70vh;
    overflow: auto;
  }

  .create-btn {
    margin-bottom: 10px;
  }
}
