{
  "presets": ["@babel/preset-react", "@babel/preset-env"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "sql",
          "javascript",
          "typescript",
          "css",
          "sass",
          "scss",
          "elixir",
          "erlang",
          "markup",
          "java",
          "jsx",
          "tsx",
          "bash",
          "shell",
          "clike",
          "ruby",
          "python",
          "php"
        ],
        "plugins": ["line-numbers"],
        "theme": "tomorrow",
        "css": true
      }
    ]
  ]
}
